*.diff -text -eol -whitespace
*.patch -text -eol -whitespace
libpq/libpq.props.in -text -eol -whitespace
libpq/usage -text -eol -whitespace
libpq/vcpkg-cmake-wrapper.cmake -text -eol -whitespace
libpq/vcpkg-libs.props.in -text -eol -whitespace
openssl/unix/remove-deps.cmake -text -eol -whitespace
openssl/usage -text -eol -whitespace
openssl/windows/portfile.cmake -text -eol -whitespace
