build-MemoChat*
build-*
/build/
/开发文档/
/.vscode/
/sql备份/
Debug
x64
.vs
MemoChat.pro.user
node_modules
config.ini
config.json
!client/**/config.ini
!client/**/config.json
!server/**/config.ini
!server/**/config.json
/client/MemoChat/.qmake.stash
/client/MemoChat/bin/MemoChat.exe
/client/MemoChat/bin/MemoChat.ilk
/client/MemoChat/bin/MemoChat.pdb
/client/MemoChat/MemoChat.qtvscr
/client/MemoChat/MemoChat.sln
/client/MemoChat/MemoChat.vcxproj
/client/MemoChat/MemoChat.vcxproj.filters
/client/MemoChat/MemoChat.vcxproj.user
/client/MemoChat/MemoChat_resource.rc
/client/MemoChat/release/moc_predefs.h.cbt
/client/MemoChat/ui_adduseritem.h
/client/MemoChat/ui_applyfriend.h
/client/MemoChat/ui_chatdialog.h
/client/MemoChat/ui_chatuserwid.h
/client/MemoChat/ui_findsuccessdlg.h
/client/MemoChat/ui_friendlabel.h
/client/MemoChat/ui_loadingdlg.h
/client/MemoChat/ui_logindialog.h
/client/MemoChat/ui_mainwindow.h
/client/MemoChat/ui_registerdialog.h
/client/MemoChat/ui_resetdialog.h
ui_*.h
/server/VarifyServer/.idea/*.iml
/server/VarifyServer/.idea
/server/ChatServer/*.log
/client/MemoChat/MemoChat.pro.user.92bdd7d

# vcpkg artifacts (downloaded/compiled libs)
/vcpkg_installed/
/vcpkg/buildtrees/
/vcpkg/packages/
/vcpkg/downloads/
